{% extends 'devshowcase/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Project - DevShowcase{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="fas fa-plus-circle"></i> Add New Project</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.project_name|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.tech_stack|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.github_link|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.live_demo_link|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.google_cloud_link|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-8">
                                {{ form.project_image|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="custom-control custom-checkbox mt-2">
                                        {{ form.is_featured }}
                                        <label class="custom-control-label" for="{{ form.is_featured.id_for_label }}">
                                            Mark as Featured Project
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> Save Project
                                </button>
                                <a href="{% url 'showcase:projects' %}" class="btn btn-secondary">
                                    <i class="fas fa-times"></i> Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .custom-file-label::after {
        content: "Browse";
    }
</style>
{% endblock %}
