<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    {% if request.user.is_authenticated %}
    <nav>
      <h3>Hello, {{request.user.first_name}} | </h3>

      <h4><a href="{% url 'knowme:add-project' %}">Add Project </a></h4>
      <h4><a href="{% url 'knowme:update-account' %}">Update Details </a></h4>
      <h4><a href="{% url 'knowme:templates' %}">Choose your portfolio template </a></h4>
      <h4><a href="{% url 'logout' %}">Logout</a></h4>

    </nav>

    <br>
    <br>
    <br>
    <h1><a href="{% url 'knowme:portfolio' %}">View Your Portfolio</a></h1>


    {% else %}
    <a href="{% url 'knowme:login' %}">Login</a> |
    <a href="{% url 'knowme:register' %}">Register</a>
    {% endif %}

  </body>

</html>